* MENSAJE EXITOSO*/

.mensaje-exito{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-exito h1{
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;s
}

.mensaje-exito a{
    display: block;
    padding: 10px 30px;
    text-align: center;
    background: #4091EC;
    text-decoration: none;
    color: #fff;
}

.mensaje-exito a:hover{
    background: #3371B6;
}

@media screen and (max-width:800px) {
    .mensaje-exito {
        font-size: 30px;
    }

    .mensaje-exito a {
        flex-direction: column;
        justify-content: space-evenly;
        height: 70px;
    }